/* FilterPlaces.css */

/* Ensure the filter panel covers the full height minus the header */
.filter-panel {
  /* height: calc(100% - 56px); */
  /* Adjust if header height differs */
  padding: 16px;
}

ion-menu.show-menu::part(container) {
  margin: 5px;
  height: calc(100% - 10px);
  border-radius: 10px;
}

.filter-title ion-buttons[slot=start] ion-icon {
  margin-left: 10px;
}

.filter-title ion-title {
    padding-left: 12px;
    padding-right: 28px;
}

/* Style the toggle switches */
.filter-panel ion-toggle {
  --handle-background: var(--ion-color-primary);
  /* Switch handle color */
  --background-checked: var(--ion-color-primary-tint);
  /* Background when checked */
  --background: #ccc;
  /* Default background */
  margin-left: auto;
  /* Align the switch to the right */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .filter-panel {
    padding: 12px;
    /* Reduce padding for smaller screens */
  }

  .filter-panel ion-toggle {
    --handle-background: var(--ion-color-primary-shade);
    --background-checked: var(--ion-color-primary-tint);
  }
}

@media screen and (max-width: 480px) {
  .filter-panel ion-toggle {
    --background-checked: var(--ion-color-primary);
    --handle-background: var(--ion-color-primary);
  }
}
