#tab1-page ion-searchbar.tex {
  transition: all 0.3s ease-in-out; /* Transition pour une animation fluide */
}

#tab1-page ion-searchbar.tex.hidden {
  margin-left: -2px;
  padding: 0;
}

#tab1-page ion-searchbar.tex.hidden .searchbar-input {
  opacity: 0; /* Caché initialement */
  width: 10px; /* Rétréci initialement */
  padding: 4px 22px !important;
  border-color: transparent !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Animation sur changement d'état */
}

#tab1-page ion-searchbar.tex .searchbar-input {
  opacity: 1; /* Visible quand ouvert */
  width: 100%; /* Largeur complète */
  cursor: text;
  transition: all 0.3s ease-in-out; /* Animation fluide */
}
