pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: cities
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8 (Debian 15.8-1.pgdg120+1)
-- Dumped by pg_dump version 15.8 (Debian 15.8-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: attributes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attributes (id, slug, is_food_restriction, is_atmosphere) FROM stdin;
7	Test Attribute	\N	\N
133	Test Attribute	\N	\N
14	Test Attribute	\N	\N
21	Test Attribute	\N	\N
22	Test Attribute	\N	\N
83	attribute-1	\N	\N
84	attribute-2	\N	\N
85	attribute-3	\N	\N
93	Test Attribute	\N	\N
101	Test Attribute	\N	\N
109	Test Attribute	\N	\N
117	Test Attribute	\N	\N
125	Test Attribute	\N	\N
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, slug, place_type, for_trip_form, for_feed, for_posts) FROM stdin;
1	bar_restaurant	t	f	f	f
2	tourist_attraction	t	f	f	f
3	hotel	t	f	f	f
4	nice_surroundings	t	f	f	f
9	updated-category	f	f	f	f
64	updated-category	f	f	f	f
14	updated-category	f	f	f	f
19	updated-category	f	f	f	f
21	updated-category	f	f	f	f
71	updated-category	f	f	f	f
78	updated-category	f	f	f	f
85	updated-category	f	f	f	f
92	updated-category	f	f	f	f
99	updated-category	f	f	f	f
57	test-category	f	f	f	f
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.countries (id, slug, code) FROM stdin;
91	test-country	TC
92	updated-country	TC
1	netherlands	nl
2	belgium	be
3	greece	gr
4	spain	es
5	germany	de
6	france	fr
7	romania	ro
8	hungary	hu
9	denmark	dk
10	poland	pl
11	ireland	ie
12	croatia	hr
13	italy	it
14	portugal	pt
15	united-kingdom	gb
16	sweden	se
17	estonia	ee
18	austria	at
19	czech-republic	cz
20	turkey	tr
63	test-country	TC
64	updated-country	TC
70	test-country	TC
71	updated-country	TC
77	test-country	TC
78	updated-country	TC
84	test-country	TC
85	updated-country	TC
\.


--
-- Data for Name: cities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: places; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: crowd_levels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.crowd_levels (id, day_of_week, hour, status, place_id) FROM stdin;
\.


--
-- Data for Name: hotels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hotels (id, booking_link, avg_price_per_night, pets_authorized, place_id) FROM stdin;
\.


--
-- Data for Name: languages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.languages (id, code, name) FROM stdin;
1	en	Anglais
2	fr	Fran├ºais
154	EN	English
165	EN	English
176	EN	English
187	EN	English
198	EN	English
\.


--
-- Data for Name: opening_hours; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.opening_hours (id, day_of_week, start_time_1, stop_time_1, start_time_2, stop_time_2, place_id) FROM stdin;
\.


--
-- Data for Name: partners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.partners (id, name, website, contact_mail, phone, gyg_id, booking_id, favorite_language) FROM stdin;
1	Updated Partner	\N	\N	\N	\N	\N	\N
2	Updated Partner	\N	\N	\N	\N	\N	\N
3	Updated Partner	\N	\N	\N	\N	\N	\N
4	Updated Partner	\N	\N	\N	\N	\N	\N
5	Updated Partner	\N	\N	\N	\N	\N	\N
6	Updated Partner	\N	\N	\N	\N	\N	\N
7	Updated Partner	\N	\N	\N	\N	\N	\N
8	Updated Partner	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, name, pw, fb_id, google_id, apple_id, profile_img, confirmed_account, created_at, updated_at, admin, author, favorite_language) FROM stdin;
33	testuser_3h41mbvs@example.com	Test User	password123	\N	\N	\N	\N	\N	2024-11-25 15:52:24.664109	2024-11-25 15:52:24.664109	f	f	\N
\.


--
-- Data for Name: trips; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trips (id, partner_id, public, datetime_start, datetime_end, price_range, created, modified, user_id, city_id) FROM stdin;
\.


--
-- Data for Name: people; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.people (id, age, trip_id) FROM stdin;
\.


--
-- Data for Name: place_attributes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.place_attributes (id, value, place_id, attribute_id) FROM stdin;
\.


--
-- Data for Name: place_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.place_categories (id, best_for, place_id, category_id) FROM stdin;
20	f	188	3
21	f	189	1
22	f	190	2
24	f	188	3
25	f	189	1
26	f	190	2
28	f	188	3
29	f	189	1
30	f	190	2
32	f	188	3
33	f	189	1
34	f	190	2
36	f	188	3
37	f	189	1
38	f	190	2
\.


--
-- Data for Name: place_imgs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.place_imgs (id, slug, author, license, top, source, place_id) FROM stdin;
\.


--
-- Data for Name: places_added_by_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.places_added_by_user (user_id, place_id, added_at) FROM stdin;
\.


--
-- Data for Name: post_imgs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.post_imgs (id, slug, "position", author, license, directory, source) FROM stdin;
\.


--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.posts (id, slug, user_id) FROM stdin;
\.


--
-- Data for Name: post_blocs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.post_blocs (id, "position", "titleType", template, visible, post_id, post_img_id, place_img_id, city_id, place_id, country_id) FROM stdin;
\.


--
-- Data for Name: post_categorizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.post_categorizations (post_id, category_id, main) FROM stdin;
\.


--
-- Data for Name: restaurant_bars; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_bars (id, menu, price_min, price_max, place_id) FROM stdin;
\.


--
-- Data for Name: restaurants_bars; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tourist_attractions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tourist_attractions (id, name_original, wiki_link, price_regular, price_children, tickets_gyg, tickets_civitatis, tickets_direct_site, place_id) FROM stdin;
\.


--
-- Data for Name: trip_attributes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trip_attributes (trip_id, attribute_id) FROM stdin;
\.


--
-- Data for Name: trip_category_filter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trip_category_filter (trip_id, category_id) FROM stdin;
\.


--
-- Data for Name: trip_composition; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trip_composition (trip_id, day, "position", place_id, datetime, deleted) FROM stdin;
\.


--
-- Data for Name: tx_attribute; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_attribute (attribute_id, language_id, name, slug, description, meta_description, title) FROM stdin;
\.


--
-- Data for Name: tx_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_categories (category_id, language_id, name, slug, description, meta_description, title) FROM stdin;
\.


--
-- Data for Name: tx_category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tx_category_city_lang; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_category_city_lang (category_id, city_id, language_id, name, description, meta_description, title) FROM stdin;
\.


--
-- Data for Name: tx_city; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tx_country; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tx_place; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_place (place_id, language_id, slug, name, title, description, meta_description) FROM stdin;
\.


--
-- Data for Name: tx_place_img; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_place_img (place_img_id, language_id, alt) FROM stdin;
\.


--
-- Data for Name: tx_post; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_post (post_id, language_id, slug, name, title, description, meta_description, visible, created_at, updated_at, planned) FROM stdin;
\.


--
-- Data for Name: tx_post_bloc; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_post_bloc (post_bloc_id, language_id, content, title) FROM stdin;
\.


--
-- Data for Name: tx_post_img; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_post_img (post_img_id, language_id, alt) FROM stdin;
\.


--
-- Data for Name: tx_posts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tx_posts (post_id, language_id, name, description, "metaDescription", title, visible, slug, created_at, updated_at, planned) FROM stdin;
\.


--
-- Data for Name: user_places_likes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_places_likes (user_id, place_id, liked, changed_at) FROM stdin;
\.


--
-- Data for Name: user_places_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_places_preferences (user_id, place_id, wants_to_visit, visited, not_interested, changed_at) FROM stdin;
\.


--
-- Name: attributes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attributes_id_seq', 156, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 3422, true);


--
-- Name: cities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cities_id_seq', 51, true);


--
-- Name: countries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.countries_id_seq', 20, true);


--
-- Name: crowd_levels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.crowd_levels_id_seq', 1, false);


--
-- Name: hotels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hotels_id_seq', 13, true);


--
-- Name: languages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.languages_id_seq', 12, true);


--
-- Name: opening_hours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.opening_hours_id_seq', 1, false);


--
-- Name: partners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.partners_id_seq', 1, false);


--
-- Name: people_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.people_id_seq', 1, false);


--
-- Name: place_attributes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.place_attributes_id_seq', 37015, true);


--
-- Name: place_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.place_categories_id_seq', 39, true);


--
-- Name: place_imgs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.place_imgs_id_seq', 14700, true);


--
-- Name: places_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.places_id_seq', 1, false);


--
-- Name: post_blocs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.post_blocs_id_seq', 1, false);


--
-- Name: post_imgs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.post_imgs_id_seq', 1, false);


--
-- Name: posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.posts_id_seq', 1, false);


--
-- Name: restaurant_bars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_bars_id_seq', 11, true);


--
-- Name: tourist_attractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tourist_attractions_id_seq', 2266, true);


--
-- Name: trips_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.trips_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

