/* PlaceCarousel.css */

.place-carousel {
    margin-bottom: 2rem;
    position: relative;
    padding: 0 1rem;
    z-index: 9999;
}

.place-carousel h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.swiper-pagination {
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.swiper-pagination-bullet {
    background: #ccc;
    opacity: 1;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: #007bff;
}

.place-card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.place-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.place-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.place-info {
    padding: 10px;
}

.place-info h3 {
    font-size: 16px;
    margin: 0;
    color: #007bff;
}

.place-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
}

.skeleton {
    background: #f0f0f0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    animation: shimmer 1.5s infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skeleton .skeleton-image {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    height: 150px;
    width: 100%;
    animation: shimmer 1.5s infinite;
    border-bottom: 1px solid #ddd;
}

.skeleton .skeleton-info {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skeleton .skeleton-text {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    height: 20px;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.skeleton-title {
    width: 70%;
}

.skeleton-description {
    width: 90%;
}

.skeleton-address {
    width: 50%;
}

/* src/components/PlaceCarousel.css */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Remplit toute la hauteur du slide */
    width: 100%;
    /* Remplit toute la largeur du slide */
    box-sizing: border-box;
    /* Assure que le padding et la bordure sont inclus dans la taille */
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 200px 0;
    }
}